node_modules/
dist/
.env
.env.*
!.env.example
*.tsbuildinfo
npm-debug.log*
storage/**
!storage/README.md
!storage/apps/
!storage/apps/*/
!storage/apps/*/private/
!storage/apps/*/private/data/
!storage/apps/*/private/data/.gitkeep
